# Start to work on but never finished
excited_index_backup.py
excited_index_backup.sh

# Ignore VS Code settings folder
.vscode/

# Ignore compiled Python files
__pycache__/
*.pyc

*.ipynb_checkpoints/
